@import './element.scss';

/**
 *  Global scss
 *  common styles
 *  通用全局样式，特殊样式请单独新建文件或者放在响应组件内
 */
body {
  color: $default-font-color;
  font-size: 14px;
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  background-image: radial-gradient(circle closest-side, #3A749B 0%, #2C4461 100%);
  // background-image: radial-gradient(circle closest-side, #51adcf 0%, #0278ae 100%);
  background-color: transparent;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

html {
  height: 100%;
}

.clearfix {
  @include clearfix;
}
